In [1]:
import numpy as np
import pandas as pd
import category_encoders as ce

In [2]:
train = pd.read_pickle("data/train.pickle")

In [3]:
train

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
906970,2,2022-03-27 13:02:17,2022-03-27 13:36:58,1,12.812500,1,138,144,1,39.0,0.0,0.5,9.773438,6.550781,0.300049,59.875000
906971,2,2022-03-18 16:49:08,2022-03-18 16:57:03,2,1.730469,1,43,141,1,7.5,1.0,0.5,1.500000,0.000000,0.300049,13.296875
906972,2,2022-03-30 18:18:10,2022-03-30 18:25:48,1,1.370117,1,239,236,1,7.5,1.0,0.5,1.769531,0.000000,0.300049,13.570312
906973,2,2022-03-11 21:48:21,2022-03-11 22:02:16,2,2.000000,1,230,137,1,10.5,0.5,0.5,3.580078,0.000000,0.300049,17.875000
906974,2,2022-03-28 18:23:35,2022-03-28 18:39:55,1,2.230469,1,141,239,1,12.0,1.0,0.5,2.439453,0.000000,0.300049,18.734375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627877,2,2022-03-08 23:03:34,2022-03-08 23:14:20,1,2.060547,1,142,236,1,9.5,0.5,0.5,2.660156,0.000000,0.300049,15.960938
3627878,1,2022-03-05 10:23:26,2022-03-05 10:44:35,1,13.203125,1,142,208,1,36.5,2.5,0.5,13.898438,6.550781,0.300049,60.250000
3627879,2,2022-03-17 13:55:05,2022-03-17 14:07:33,1,0.360107,1,75,75,1,8.5,0.0,0.5,2.000000,0.000000,0.300049,11.296875
3627880,2,2022-03-12 21:20:37,2022-03-12 21:24:02,1,0.660156,2,68,90,2,-52.0,0.0,-0.5,0.000000,0.000000,-0.300049,-55.312500
3627881,2,2022-03-19 03:20:44,2022-03-19 03:43:52,1,10.000000,1,148,41,1,30.0,0.5,0.5,3.380859,0.000000,0.300049,37.187500